<template>
  <the-container></the-container>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import TheContainer from "./layout/TheContainer.vue";

export default defineComponent({
  name: "App",
  components: {
    TheContainer,
  },
});
</script>