<template>
  <li class="app-sidebar__heading">{{ menuItem.getLabel() }}</li>
  <li
    v-for="(subitem, subkey) in menuItem.getChildRoutes()"
    :key="subkey"
    @click="onSelectLink(subitem)"
  >
    <router-link :to="subitem.path" :class="subitem.cssClass">
      <div class="font-icon-lg">
        <i
          style="opacity: 1"
          class="metismenu-icon icon-gradient bg-malibu-beach"
          :class="subitem.getIcon()"
        ></i>
      </div>
      <p class="opacity-10" style="font-weight: bold">
        {{ subitem.getLabel() }}
      </p>
    </router-link>
  </li>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { ParentRoute, Route } from '@/router/routes';

export default defineComponent({
  name: 'AppSidebarItem',
  props: {
    menuItem: {
      type: ParentRoute
    }
  },
  emits: {
    onSelectLink(subItem: Route) {
      return subItem.getPath().length;
    }
  },
  methods: {
    onSelectLink(subItem: Route) {
      this.$emit('onSelectLink', subItem);
    }
  }
});
</script>