<template>
  <div
    ref="appContainer"
    class="
      app-container app-theme-white
      body-tabs-shadow
      fixed-sidebar fixed-header
    "
  >
    <the-header></the-header>
    <the-main></the-main>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import TheMain from "@/layout/TheMain.vue";
import TheHeader from "@/layout/TheHeader.vue";

export default defineComponent({
  name: "TheContainer",
  components: {
    TheMain,
    TheHeader,
  },
});
</script>