<template>
  <div class="app-wrapper-footer stick-bottom">
    <div class="app-footer">
      <div class="app-footer__inner">
        <div class="app-footer-left">
          <ul class="nav">
            <li class="nav-item">
              Made with <i class="fas fa-heart"></i> By
              <a href="https://mohamedmhiri.com" target="_blank" rel=noopener>Mohamed Mhiri</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TheFooter",
});
</script>
<style scoped>
.stick-bottom {
  position: absolute;
  bottom: 0;
  width: calc(100% - 280px);
}
@media (max-width: 991.98px) {
  .stick-bottom {
    width: calc(100% - 0px);
  }
}
@media (min-width: 992px) {
  .stick-bottom {
    width: calc(100% - 0px);
  }
}

@media (min-width: 1200px) {
  .stick-bottom {
    width: calc(100% - 280px);
  }
}
</style>