<template>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="logo-src">
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button
          type="button"
          class="hamburger hamburger--elastic mobile-toggle-nav"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
    </div>
    <div class="app-header__content">
      <div class="app-header-left">
        <div class="search-wrapper">
          <button class="close"></button>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Search from "@/components/Search.vue";

export default defineComponent({
  name: "TheHeader",
  components: {
    Search,
  },
});
</script>