<template>
  <div class="app-main">
    <the-sidebar></the-sidebar>
    <div class="app-main__outer">
      <router-view />
      <the-footer></the-footer>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import TheSidebar from "@/layout/TheSidebar.vue";
import TheFooter from "@/layout/TheFooter.vue";

export default defineComponent({
  name: "TheMain",
  components: {
    TheSidebar,
    TheFooter,
  },
});
</script>
<style>
.app-main__outer {
  padding-bottom: 90px;
}
</style>