<template>
  <div ref="appSidebar" class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
      <div class="logo-src"></div>
      <div class="header__pane ml-auto">
        <div>
          <button
            type="button"
            class="hamburger close-sidebar-btn hamburger--elastic"
            data-class="closed-sidebar"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button
          type="button"
          class="hamburger hamburger--elastic mobile-toggle-nav"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
      <span>
        <button
          type="button"
          class="
            btn-icon btn-icon-only btn btn-primary btn-sm
            mobile-toggle-header-nav
          "
        >
          <span class="btn-icon-wrapper">
            <i class="fa fa-ellipsis-v fa-w-6"></i>
          </span>
        </button>
      </span>
    </div>
    <div class="scrollbar-sidebar">
      <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
          <sidebar-item
            v-on:onSelectLink="onSelectLink"
            v-for="(item, name, key) in sidebarItems"
            :menuItem="item"
            :key="key"
          ></sidebar-item>
        </ul>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { sidebarItems, Route } from "../router/routes";
import sidebarItem from "./AppSidebarItem.vue";
import { mapStores } from "pinia";
import { useSidebarStore } from '@/stores/sidebar';

export default defineComponent({
  name: "TheSidebar",
  components: { sidebarItem },
  data() {
    return {
      sidebarItems,
    };
  },
  created() {
    this.sidebarItems = this.sidebarStore.links;
  },
  computed: {
    ...mapStores(useSidebarStore),
  },
  methods: {
    onSelectLink(selectedLink: Route) {
      /* this.$store.commit('onSelectLink', data);
      this.sidebarItems = this.$store.getters['links'];
      console.log(this.sidebarItems); */
      console.log(selectedLink.getLabel());
      console.log(this.sidebarItems);
      //this.sidebarStore.onSelectLink(selectedLink);
      //this.sidebarItems.filter((link: Route) => link.getLabel() === 'Client')
      //this.sidebarItems = this.$store.getters['links'];
      //selectedLink.setCssClass('mm-active');
      /* this.sidebarItems
        .filter((link: Route) => selectedLink
          .getLabel()
          .includes(link.getLabel()))[0] */
      /* .getChildRoutes()
        .filter((route: Route) => route.getLabel() == selectedLink.getLabel())
        .cssClass = 'mm-active'; */
    },
  },
});
</script>