<template>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fa fa-users icon-gradient bg-happy-itmeo"> </i>
          </div>
          <div>Fiche Clients</div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block">
            <button type="button" aria-expanded="false" class="mb-2 mr-2 btn-lg btn-block btn-shadow btn btn-primary"
              @click="uploadClientsBtn">
              <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fas fa-file-import fa-w-20"></i>
              </span>
              Télécharger la fiche des clients
            </button>
            <input @change="handleDrop" type="file" name="excelClientList" id="upload-client-file" accept="*/*" ref="fileInput">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body client-list">
            <h5 class="card-title">Les clients</h5>
            <table class="mb-0 table table-hover table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Jour</th>
                  <th>Mois</th>
                  <th>Année</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Puissances</th>
                  <th>Add</th>
                  <th>Ec/H</th>
                  <th>Verre(s)</th>
                  <th>Lentille(s)</th>
                  <th>Tel(s)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <b>Rechercher</b>
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.updatedDay" type="text"
                      class="form-control" name="patientDay" />
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.updatedMonth" type="text"
                      class="form-control" name="patientMonth" />
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.updatedYear" type="text"
                      class="form-control" name="patientYear" />
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.name" type="text" class="form-control"
                      name="patientName" />
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.familyName" type="text"
                      class="form-control" name="patientFamilyName" />
                  </th>
                  <th>
                    <!-- <input @keyup="searchPatient($event)" v-model="patientCriteria.color" type="text" class="form-control"
                    name="frameColor"> -->
                  </th>
                  <th>
                    <!-- <input @keyup="searchPatient($event)" v-model="patientCriteria.price" type="number" class="form-control"
                    name="framePrice"> -->
                  </th>
                  <th>
                    <!-- <input @keyup="searchPatient($event)" v-model="patientCriteria.size" type="text" class="form-control"
                    name="frameSize"> -->
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.glass" type="text" class="form-control"
                      name="patientGlass" />
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.lentil" type="text"
                      class="form-control" name="patientLentil" />
                  </th>
                  <th>
                    <input @keyup="searchPatient($event)" v-model="patientCriteria.tel" type="text" class="form-control"
                      name="patientTel" />
                  </th>
                </tr>
                <tr @click="addClientToReceipt(client)" v-for="(client, key) in patients" :key="client._id">
                  <th scope="row">{{ key + 1 }}</th>
                  <td colspan="3" v-html="dateFormatter(client.updatedAt)"></td>
                  <td>{{ client.fName }}</td>
                  <td>{{ client.lName }}</td>
                  <td v-html="eyeFormatter(client.entity)[0]"></td>
                  <td v-html="eyeFormatter(client.entity)[1]"></td>
                  <td v-html="eyeFormatter(client.entity)[2]"></td>
                  <td v-html="itemFormatter(client.glasses)"></td>
                  <td v-html="itemFormatter(client.lentils)"></td>
                  <td v-html="telFormatter(client.entity.tel)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { read, utils, WorkSheet } from "xlsx";
import {
  dateFormatter,
  eyeFormatter,
  itemFormatter,
  telFormatter,
} from "../services/client/client_format";

import { PatientCriteria } from '../types/client';
import { useClientsStore } from '@/stores/client';
import patients from "@/api/patients";
import { mapStores } from "pinia";
//import { upload } from './services/file-upload.service';   // real service

interface HTMLInputEvent extends Event {
  target: HTMLInputElement & EventTarget;
}
interface FileReaderEventTarget extends EventTarget {
  [x: string]: any;
  result: string;
}

interface FileReaderEvent extends Event {
  target: FileReaderEventTarget;
  getMessage(): string;
}
interface State {
  patientCriteria: PatientCriteria,
  patients: Array<any>,
  //authClientsStore: Store
};

export default defineComponent({
  name: "Clients",
  data: (): State => {
    return {
      patientCriteria: {
        updatedDay: '',
        updatedMonth: '',
        updatedYear: '',
        name: '',
        familyName: '',
        glass: '',
        lentil: '',
        tel: '',
      },
      patients: [] as any,
    };
  },
  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useClientsStore)
  },
  created() {
    this.clientsStore.loadPatients(this.patientCriteria);
  },
  methods: {
    dateFormatter(updatedAt: any) {
      return dateFormatter(updatedAt);
    },
    eyeFormatter(client: any) {
      return eyeFormatter(client);
    },
    itemFormatter(lentils: any) {
      return itemFormatter(lentils);
    },
    telFormatter(tel: any) {
      return telFormatter(tel);
    },
    uploadClientsBtn() {
      this.loadClients();
    },
    addClientToReceipt(client: any) {
      this.clientsStore.onSelectClient(client);
      localStorage.setItem("onSelectClient", JSON.stringify(client));
    },
    loadClients() {
      const uploadBtn = document.querySelector(
        "#upload-client-file"
      )! as HTMLElement;
      uploadBtn.click();
    },
    save(formData: FormData) {
      // upload data to the server
      console.log(formData);

      /*upload(formData)
        .then((x: any) => {
        })
        .catch((err: any) => {
        });
        */
    },
    uploadFile(event: FileReaderEvent) {
      // handle file changes
      const target = event.target as FileReaderEventTarget;

      // const file: File = (target.files as FileList)[0];

      // if (file == null) return;

      let reader = new FileReader();
      //reader.readAsDataURL(file);

      const data = new Uint8Array(
        event.target.result as unknown as ArrayBuffer
      ).subarray(0, 4);
      // the rest of your code
      console.log(data);
      let workbook = read(data, { type: "array" });
      //reader.readAsArrayBuffer(file);
      console.log(workbook);
      let first_sheet_name = workbook.SheetNames[0];

      /* Get worksheet */
      let worksheet = workbook.Sheets[first_sheet_name];
      /* convert from workbook to array of arrays */
      let first_worksheet = workbook.Sheets[workbook.SheetNames[0]];
      let xlsxData = utils.sheet_to_json(first_worksheet, { header: 1 });
      console.log(xlsxData);

      /*let workbook = read(file);
      console.log(workbook);*/

      // let reader = new FileReader()

      // reader.readAsDataURL(file)

      // let formData: FormData = new FormData();
      // // append the file to FormData
      // formData.append('file', file, file.name);
      // console.log(formData);

      // this.save(formData);
    },
    get_header_row(sheet: WorkSheet) {
      let headers = [],
        range = utils.decode_range(sheet["!ref"] as string);
      let C,
        R = range.s.r; /* start in the first row */
      for (C = range.s.c; C <= range.e.c; ++C) {
        /* walk every column in the range */
        let cell =
          sheet[
          utils.encode_cell({ c: C, r: R })
          ]; /* find the cell in the first row */
        let hdr = "UNKNOWN " + C; // <-- replace with your desired default
        if (cell && cell.t) hdr = utils.format_cell(cell);
        headers.push(hdr);
      }
      return headers;
    },
    fixData(data: any) {
      let o = "",
        l = 0,
        w = 10240;
      for (; l < data.byteLength / w; ++l)
        o += String.fromCharCode.apply(
          null,
          Array.from(new Uint8Array(data.slice(l * w, l * w + w)))
        );
      o += String.fromCharCode.apply(
        null,
        Array.from(new Uint32Array(data.slice(l * w) as number[]))
      );
      return o;
    },
    handleDrop(e: FileReaderEvent) {
      e.stopPropagation();
      e.preventDefault();
      let state = {
        tickets: [{ name: "test" }],
        headers: ["Test header"],
      };
      const here = this;
      let f = e.target.files[0];
      let i;
      let reader = new FileReader();
      let { name } = f;
      reader.onload = function (e) {
        let results: { name: string }[];
        let data = e.target?.result;
        let fixedData = here.fixData(data);
        let workbook = read(btoa(fixedData), { type: "base64" });
        let firstSheetName = workbook.SheetNames[0];
        let worksheet = workbook.Sheets[firstSheetName];
        state.headers = here.get_header_row(worksheet);
        results = utils.sheet_to_json(worksheet);
        state.tickets = results;

        fetch("http://localhost:5700/api/loadClients", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(state.tickets),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      };

      reader.readAsArrayBuffer(f);
    },
    searchPatient(event: Event) {
      console.log(event);
      const target = event.target as HTMLTextAreaElement;

      if (
        Object.values(this.patientCriteria).every(
          (item: any) => item.length === 0
        )
      ) {
        this.patients = [];
      }
      if (
        this.patientCriteria.updatedDay != target.value ||
        this.patientCriteria.updatedMonth != target.value ||
        this.patientCriteria.updatedYear != target.value ||
        this.patientCriteria.name != target.value ||
        this.patientCriteria.familyName != target.value ||
        this.patientCriteria.glass != target.value ||
        this.patientCriteria.lentil != target.value ||
        this.patientCriteria.tel != target.value
      ) {
        let timeout;
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          this.clientsStore.loadPatients(this.patientCriteria);
          this.patients = this.clientsStore.patients;
        }, 1000);
      }
    },
  },
});
</script>
<style scoped>
.card {
  min-height: 25rem;
  max-width: 100%;
  overflow-y: auto;
}

#upload-client-file {
  display: none;
}
</style>