<template>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-file-medical icon-gradient bg-happy-itmeo">
            </i>
          </div>
          <div>Modification du reçu
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <form class="needs-validation" novalidate>
              <h5 class="card-title">Patient</h5>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label>Nom</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.familyName" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Prénom</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.name" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Numéro de Téléphone</label>
                  <input type="text" class="form-control" v-model="phoneNumber" @keyup.enter="addTel" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div v-for="(tel, key) in updateReceipt.client.telNumbers" class="form-row" :key="key">
                <!-- v-if="updateReceipt.client.telNumbers.length > 0"  -->
                <div class="col-md-4 mb-3"></div>
                <div class="col-md-4 mb-3"></div>
                <div class="col-md-4 mb-3">
                  <div class="card-shadow-primary border mb-3 card card-body border-primary" @click="deletePhone(tel)">
                    <h5 class="card-title">{{ tel }}</h5>
                  </div>
                </div>

              </div>
              <!-- Right Eye -->
              <h5 class="card-title">Oeil Droit</h5>
              <div class="form-row">
                <div class="col-md-2 mb-3">
                  <label>Cylindre</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.rightEye.cylinder" required>
                  <div class="invalid-feedback">
                    Cylindre non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Axe</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.rightEye.axis" required>
                  <div class="invalid-feedback">
                    Axe non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Sphère</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.rightEye.sphere" required>
                  <div class="invalid-feedback">
                    Sphère non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Addition</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.rightEye.addition" required>
                  <div class="invalid-feedback">
                    Addition non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Ecart</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.rightEye.gap" required>
                  <div class="invalid-feedback">
                    Ecart non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Hauteur</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.rightEye.height" required>
                  <div class="invalid-feedback">
                    Hauteur non valide.
                  </div>
                </div>
              </div>
              <!-- Clone button -->
              <div class="form-row">

                <button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-lg btn-block" type="button"
                  @click="cloneEyesCharacteristics">Copier
                </button>
              </div>
              <!-- Left Eye -->
              <h5 class="card-title">Oeil Gauche</h5>
              <div class="form-row">
                <div class="col-md-2 mb-3">
                  <label>Cylindre</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.leftEye.cylinder" required>
                  <div class="invalid-feedback">
                    Cylindre non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Axe</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.leftEye.axis" required>
                  <div class="invalid-feedback">
                    Axe non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Sphère</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.leftEye.sphere" required>
                  <div class="invalid-feedback">
                    Sphère non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Addition</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.leftEye.addition" required>
                  <div class="invalid-feedback">
                    Addition non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Ecart</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.leftEye.gap" required>
                  <div class="invalid-feedback">
                    Ecart non valide.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Hauteur</label>
                  <input type="text" class="form-control" v-model="updateReceipt.client.leftEye.height" required>
                  <div class="invalid-feedback">
                    Hauteur non valide.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div id="accordion" class="accordion-wrapper mb-3">
                  <div class="card">
                    <div id="headingOne" class="card-header">
                      <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false"
                        aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0">Cadre(s)</h5>
                        <div class="row">
                          <div class="col-md-4" v-for="frame in selectedFrames" @click="onDeselectFrame($event, frame)"
                            :key="frame._id">
                            <div class="card-shadow-primary border mb-3 card card-body border-primary">
                              <h5 class="card-title">{{ frame.label }} ({{ frame.category }}-{{ frame.price }}
                                <b>T</b>:{{ frame.size }}) <b>Ref</b> {{ frame.reference }} <b>Col</b> {{ frame.color }}
                              </h5>
                            </div>
                          </div>
                        </div>
                      </button>
                    </div>
                    <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse">
                      <div class="card-body">
                        <table class="mb-0 table table-bordered">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Categorie</th>
                              <th>Marque</th>
                              <th>Référence</th>
                              <th>Prix</th>
                              <th>Taille</th>
                              <th>Couleur</th>
                              <th>Quantité</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>
                                <b>Rechercher</b>
                              </th>
                              <th>
                                <select name="select" v-model="frameCriteria.category" @change="searchFrame"
                                  class="form-control">
                                  <option value="">Solaire et Optique</option>
                                  <option value="S">Solaire</option>
                                  <option value="O">Optique</option>
                                </select>
                              </th>
                              <th>
                                <input @keyup="searchFrame" v-model="frameCriteria.label" type="text" class="form-control"
                                  name="frameLabel">
                              </th>
                              <th>
                                <input @keyup="searchFrame" v-model="frameCriteria.reference" type="text"
                                  class="form-control" name="frameReference">
                              </th>
                              <th>
                                <input @keyup="searchFrame" v-model="frameCriteria.price" type="number"
                                  class="form-control" name="framePrice">
                              </th>
                              <th>
                                <input @keyup="searchFrame" v-model="frameCriteria.size" type="text" class="form-control"
                                  name="frameSize">
                              </th>
                              <th>
                                <input @keyup="searchFrame" v-model="frameCriteria.color" type="text" class="form-control"
                                  name="frameColor">
                              </th>
                              <th>
                              </th>
                            </tr>
                            <frame-row v-for="frame in [...opticalFrames, ...sunglasses]" :frame="frame"
                              @onSelectFrame="onSelectFrame(frame)" :key="frame._id">
                            </frame-row>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div id="headingTwo" class="b-radius-0 card-header">
                      <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false"
                        aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0">Verre(s)</h5>
                        <div class="row">
                          <div class="col-md-4" v-for="glass in selectedGlasses" @click="onDeselectGlass($event, glass)"
                            :key="glass._id">
                            <div class="card-shadow-primary border mb-3 card card-body border-primary">
                              <h5 class="card-title">{{ glass.label }} {{ glass.category ? glass.category : '' }} {{
                                glass.price }}
                              </h5>
                            </div>
                          </div>
                        </div>
                      </button>
                    </div>
                    <div data-parent="#accordion" id="collapseOne2" class="collapse">
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-3 mb-3">
                            <label>Marque</label>
                            <input type="text" class="form-control" v-model="glassCriteria.label" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>Type</label>
                            <input type="text" class="form-control" v-model="glassCriteria.category" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>Prix</label>
                            <input type="text" class="form-control" v-model="glassCriteria.price" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block add-glass" type="button"
                              @click="onSelectGlass">Ajouter au reçu
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div id="headingThree" class="card-header">
                      <button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false"
                        aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0">Lentille(s)</h5>
                        <div class="row">
                          <div class="col-md-4" v-for="lentil in selectedLentils"
                            @click="onDeselectLentil($event, lentil)" :key="lentil._id">
                            <div class="card-shadow-primary border mb-3 card card-body border-primary">
                              <h5 class="card-title">{{ lentil.label }} {{ lentil.category ? lentil.category : '' }} {{
                                lentil.price }}
                              </h5>
                            </div>
                          </div>
                        </div>
                      </button>
                    </div>
                    <div data-parent="#accordion" id="collapseOne3" class="collapse">
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-3 mb-3">
                            <label>Marque</label>
                            <input type="text" class="form-control" v-model="lentilCriteria.label" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>Type</label>
                            <input type="text" class="form-control" v-model="lentilCriteria.category" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>Prix</label>
                            <input type="text" class="form-control" v-model="lentilCriteria.price" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block add-lentil" type="button"
                              @click="onSelectLentil">Ajouter au reçu
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="card-title">Paiement</h5>
              <div class="form-row">
                <div class="col-md-2 mb-3">
                  <label>Total</label>
                  <input type="text" class="form-control" @keyup="onTotalPriceChange" v-model="updateReceipt.total"
                    required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Total avec remise</label>
                  <input type="text" class="form-control" @keyup="onTotalPriceWithDiscountChange"
                    v-model="updateReceipt.totalWithDiscount" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Accompte</label>
                  <input type="text" class="form-control" @keyup="onPaidChange" v-model="updateReceipt.downPayment"
                    required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label>Reste</label>
                  <input type="text" class="form-control" disabled v-model="updateReceipt.remaining" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <h5 class="card-title">Mode de paiement</h5>
                  <div class="position-relative form-group">
                    <div>
                      <div v-for="(paymentMethod, key) in paymentMethods" :key="key"
                        class="custom-checkbox custom-control">
                        <input type="checkbox" class="custom-control-input" v-model="updateReceipt.paymentMethods"
                          :value="paymentMethod.label" :id="paymentMethod.value">
                        <label class="custom-control-label" :for="paymentMethod.value">{{ paymentMethod.label }}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <h5 class="card-title">Vendeur</h5>
                  <div class="position-relative form-group">
                    <div>
                      <div v-for="(seller, key) in sellers" class="custom-checkbox custom-control" :key="key">
                        <input type="checkbox" :id="seller.value" class="custom-control-input" :value="seller.value"
                          v-model="updateReceipt.sellers">
                        <label class="custom-control-label" :for="seller.value">{{ seller.label }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="submit-btn">
                <button class="btn-primary btn-lg" @click="editReceipt" type="button">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { mapStores } from "pinia";
import FrameRow from '@/components/FrameRow.vue';
import { toOldModel, toNewModel } from '../services/receipt';
import { useFramesStore } from '@/stores/frame';
import { useClientsStore } from '@/stores/client';
import { useReceiptsStore } from '@/stores/receipt';
import { useAuthStore } from '@/stores/auth';
import { getPrintTxt } from '@/helpers/print-receipt';

interface UpdateReceiptState {
  frames: Array<any>,
  selectedFrames: Array<any>,
  selectedGlasses: Array<any>,
  selectedLentils: Array<any>,
  opticalFrames: Array<any>,
  sunglasses: Array<any>,
  phoneNumber: string,
  framesTotalPrice: number,
  glassesTotalPrice: number,
  lentilsTotalPrice: number,
  updateReceipt: {
    client: {
      familyName: string,
      name: string,
      telNumbers: Array<string>,
      rightEye: {
        cylinder: string,
        axis: string,
        addition: string,
        sphere: string,
        height: string,
        gap: string
      },
      leftEye: {
        cylinder: string,
        axis: string,
        addition: string,
        sphere: string,
        height: string,
        gap: string
      },
    },
    frames: Array<any>,
    glasses: Array<any>,
    lentils: Array<any>,
    total: number,
    totalWithDiscount: number,
    downPayment: number,
    remaining: number,
    paymentMethods: Array<any>,
    sellers: Array<any>,
    _id: string | any,
  },
  frameCriteria: {
    label: string,
    category: string,
    reference: string,
    price: string,
    size: string,
    color: string
  },
  glassCriteria: {
    label: string,
    category: string,
    price: string
  },
  lentilCriteria: {
    label: string,
    category: string,
    price: string
  },
  paymentMethods: [
    {
      value: 'check',
      label: 'Chèque'
    },
    {
      value: 'cash',
      label: 'Espèce'
    },
    {
      value: 'electronic',
      label: 'TPE'
    }
  ],
  sellers: [
    {
      value: '1',
      label: 'Vendeur #1'
    },
    {
      value: '2',
      label: 'Vendeur #2'
    },
    {
      value: '3',
      label: 'Vendeur #3'
    }
  ]
};

export default defineComponent({
  name: 'EditReceipt',
  components: {
    FrameRow
  },
  data: (): UpdateReceiptState => {
    return {
      frames: [] as any,
      selectedFrames: [] as any,
      selectedGlasses: [] as any,
      selectedLentils: [] as any,
      opticalFrames: [] as any,
      sunglasses: [] as any,
      phoneNumber: '',
      framesTotalPrice: 0,
      glassesTotalPrice: 0,
      lentilsTotalPrice: 0,
      updateReceipt: {
        client: {
          familyName: '',
          name: '',
          telNumbers: [] as string[],
          rightEye: {
            cylinder: '',
            axis: '',
            addition: '',
            sphere: '',
            height: '',
            gap: ''
          },
          leftEye: {
            cylinder: '',
            axis: '',
            addition: '',
            sphere: '',
            height: '',
            gap: ''
          },
        },
        frames: [] as any,
        glasses: [] as any,
        lentils: [] as any,
        total: 0,
        totalWithDiscount: 0,
        downPayment: 0,
        remaining: 0,
        paymentMethods: [],
        sellers: [],
        _id: '',
      },
      frameCriteria: {
        label: '',
        category: '',
        reference: '',
        price: '',
        size: '',
        color: ''
      },
      glassCriteria: {
        label: '',
        category: '',
        price: ''
      },
      lentilCriteria: {
        label: '',
        category: '',
        price: ''
      },
      paymentMethods: [
        {
          value: 'check',
          label: 'Chèque'
        },
        {
          value: 'cash',
          label: 'Espèce'
        },
        {
          value: 'electronic',
          label: 'TPE'
        }
      ],
      sellers: [
        {
          value: '1',
          label: 'Vendeur #1'
        },
        {
          value: '2',
          label: 'Vendeur #2'
        },
        {
          value: '3',
          label: 'Vendeur #3'
        }
      ]
    }
  },
  async beforeCreate() {
    const authState = useAuthStore();
    const canEditReceipt = await authState.isConnected();
      if (canEditReceipt.value === false) {
        this.$router.replace({ name: 'Receipts' });
      }
  },
  async created() {
    this.framesStore.inventory(this.frameCriteria);
    this.selectedFrames = toNewModel(await this.receiptsStore.getReceipt(this.$route.params.receiptId)).frames;
    this.onSelectFrameTotalPrice();
    this.selectedFrames.forEach(f => this.framesStore.onSelectFrame(f));
    this.updateReceipt = toNewModel(await this.receiptsStore.getReceipt(this.$route.params.receiptId)).receipt;
    this.selectedGlasses = toNewModel(await this.receiptsStore.getReceipt(this.$route.params.receiptId)).glasses;
    this.selectedLentils = toNewModel(await this.receiptsStore.getReceipt(this.$route.params.receiptId)).lentils;
    await this.authStore.closeConnection();
  },
  beforeUnmount() {
    this.framesStore.clearFrames();
  },
  computed: {
    ...mapStores(useClientsStore, useFramesStore, useReceiptsStore, useAuthStore)
  },
  methods: {
    addTel() {
      if (this.phoneNumber.length > 0) {
        this.updateReceipt.client.telNumbers.push(this.phoneNumber);
        this.phoneNumber = '';
      }
    },
    deletePhone(tel: string) {
      this.updateReceipt.client.telNumbers = this.updateReceipt.client.telNumbers.filter(nbr => nbr !== tel);
      this.framesStore.selectedFrames;
      this.opticalFrames = this.framesStore.frames.optical;
      this.sunglasses = this.framesStore.frames.sunglasses;
    },
    cloneEyesCharacteristics() {
      /* const that = this;
      Object.keys(that.updateReceipt.client.leftEye).forEach((key: string) => 
        console.log(that.updateReceipt.client.leftEye[key])
      ); */
      this.updateReceipt.client.leftEye.cylinder = this.updateReceipt.client.rightEye.cylinder;
      this.updateReceipt.client.leftEye.addition = this.updateReceipt.client.rightEye.addition;
      this.updateReceipt.client.leftEye.axis = this.updateReceipt.client.rightEye.axis;
      this.updateReceipt.client.leftEye.gap = this.updateReceipt.client.rightEye.gap;
      this.updateReceipt.client.leftEye.height = this.updateReceipt.client.rightEye.height;
      this.updateReceipt.client.leftEye.sphere = this.updateReceipt.client.rightEye.sphere;
    },
    searchFrame() {
      this.framesStore.inventory(this.frameCriteria);
      this.frames = [];
      this.selectedFrames = this.framesStore.selectedFrames;
      this.opticalFrames = this.framesStore.frames.optical;
      this.sunglasses = this.framesStore.frames.sunglasses;
    },
    fetchFrames() {
      this.selectedFrames = this.framesStore.selectedFrames;
      this.opticalFrames = this.framesStore.frames.optical;
      this.sunglasses = this.framesStore.frames.sunglasses;
    },
    onSelectFrameTotalPrice() {
      this.framesTotalPrice = this.selectedFrames
        .map((frame: any) => frame.price)
        .reduce((totalPrice = 0, framePrice: any) => +totalPrice + +framePrice);
      this.computePayment();
    },
    onDeselectFrameTotalPrice() {
      if (this.selectedFrames.length === 0) {
        this.framesTotalPrice = 0;
      } else {
        this.framesTotalPrice = this.selectedFrames
          .map((frame: any) => frame.price)
          .reduce((totalPrice = 0, framePrice: any) => +totalPrice + +framePrice);
      }
      this.computePayment();
    },
    onSelectFrame(frame: any) {
      this.framesStore.onSelectFrame(frame);
      this.fetchFrames();
      this.onSelectFrameTotalPrice();
    },
    onDeselectFrame(event: Event, frame: any) {
      event.stopPropagation();
      this.framesStore.onDeselectFrame(frame);
      this.fetchFrames();
      this.onDeselectFrameTotalPrice();
      this.resetFrameCriteria();
    },
    resetFrameCriteria() {
      this.frameCriteria = {
        label: '',
        category: '',
        reference: '',
        price: '',
        size: '',
        color: ''
      };
    },
    onSelectGlass() {
      const selectedGlass = {
        label: this.glassCriteria.label,
        category: this.glassCriteria.category,
        price: +this.glassCriteria.price
      };
      this.selectedGlasses.push(selectedGlass);
      this.onSelectGlassTotalPrice();
      this.resetGlassCriteria();
    },
    resetGlassCriteria() {
      this.glassCriteria = {
        label: '',
        category: '',
        price: ''
      };
    },
    reInitGlassCriteria(glass: any) {
      this.glassCriteria = {
        label: glass.label,
        category: glass.category,
        price: glass.price
      };
    },
    onSelectGlassTotalPrice() {
      this.glassesTotalPrice = this.selectedGlasses
        .map((glass: any) => glass.price)
        .reduce((totalPrice = 0, glassPrice: any) => +totalPrice + +glassPrice);
      this.computePayment();
    },
    onDeselectGlassTotalPrice() {
      if (this.selectedGlasses.length === 0) {
        this.glassesTotalPrice = 0;
      } else {
        this.glassesTotalPrice = this.selectedGlasses
          .map((glass: any) => glass.price)
          .reduce((totalPrice = 0, glassPrice: any) => +totalPrice + +glassPrice);
      }
      this.computePayment();
    },
    onDeselectGlass(event: Event, deselectedGlass: any) {
      event.stopPropagation();
      this.selectedGlasses = this.selectedGlasses.filter((glass: any) => glass._id != deselectedGlass._id);
      this.onDeselectGlassTotalPrice();
      this.reInitGlassCriteria(deselectedGlass);
    },
    onSelectLentil() {
      const selectedLentil = {
        label: this.lentilCriteria.label,
        category: this.lentilCriteria.category,
        price: +this.lentilCriteria.price
      };
      this.selectedLentils.push(selectedLentil);
      this.onSelectLentilTotalPrice();
      this.resetLentilCriteria();
    },
    resetLentilCriteria() {
      this.lentilCriteria = {
        label: '',
        category: '',
        price: ''
      };
    },
    reInitLentilCriteria(lentil: any) {
      this.lentilCriteria = {
        label: lentil.label,
        category: lentil.category,
        price: lentil.price
      };
    },
    onSelectLentilTotalPrice() {
      this.lentilsTotalPrice = this.selectedLentils
        .map((lentil: any) => lentil.price)
        .reduce((totalPrice = 0, lentilPrice: any) => +totalPrice + +lentilPrice);
      this.computePayment();
    },
    onDeselectLentilTotalPrice() {
      if (this.selectedLentils.length === 0) {
        this.lentilsTotalPrice = 0;
      } else {
        this.lentilsTotalPrice = this.selectedGlasses
          .map((lentil: any) => lentil.price)
          .reduce((totalPrice = 0, lentilPrice: any) => +totalPrice + +lentilPrice);
      }
      this.computePayment();
    },
    onDeselectLentil(event: Event, deselectedLentil: any) {
      event.stopPropagation();
      this.selectedLentils = this.selectedLentils.filter((lentil: any) => lentil._id != deselectedLentil._id);
      this.onDeselectLentilTotalPrice();
      this.reInitLentilCriteria(deselectedLentil);
    },
    computePayment() {
      this.updateReceipt.total = +this.framesTotalPrice + +this.glassesTotalPrice + +this.lentilsTotalPrice;
      this.updateReceipt.totalWithDiscount = this.updateReceipt.total;
      this.updateReceipt.remaining = +this.updateReceipt.totalWithDiscount - +this.updateReceipt.downPayment;
    },
    onTotalPriceChange() {
      if (this.selectedFrames.length > 0 || this.selectedGlasses.length > 0 || this.selectedLentils.length > 0) {
        this.updateReceipt.total = +this.framesTotalPrice + +this.glassesTotalPrice + +this.lentilsTotalPrice;
      }
      this.updateReceipt.totalWithDiscount = this.updateReceipt.total;
      this.updateReceipt.remaining = +this.updateReceipt.totalWithDiscount - +this.updateReceipt.downPayment;
    },
    onTotalPriceWithDiscountChange() {
      this.updateReceipt.remaining = +this.updateReceipt.totalWithDiscount - +this.updateReceipt.downPayment;
    },
    onPaidChange() {
      this.updateReceipt.remaining = +this.updateReceipt.totalWithDiscount - +this.updateReceipt.downPayment;
    },
    async editReceipt() {
      this.updateReceipt.frames = this.framesStore.selectedFrames;
      this.updateReceipt.lentils = this.selectedLentils;
      this.updateReceipt.glasses = this.selectedGlasses;
      const receiptToOldModal = toOldModel(this.updateReceipt);
      await this.receiptsStore.updateReceipt(receiptToOldModal);
      const receipt = await this.receiptsStore.getReceipt(this.updateReceipt._id)
      let popupWindow = window.open('');
      if (popupWindow) {
        popupWindow.document.open();
        popupWindow.document.write(`<!DOCTYPE html><html lang="en"><head> <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" href="../../css/print.css"> <title>OMAR ALOULOU</title> </head><body onload="window.print()"> <div class="container">${getPrintTxt(receipt)}</html>`);

        popupWindow.document.close();
      }
    },
  }
});
</script>
<style scoped>
#collapseOne1 {
  max-height: 350px;
  overflow-y: auto;
}

#collapseOne2 {
  max-height: 350px;
  overflow-y: auto;
}

#collapseOne3 {
  max-height: 350px;
  overflow-y: auto;
}

.submit-btn {
  margin: 0 auto;
  text-align: right;
}

.add-lentil {
  margin-top: 1.75rem;
}

.add-glass {
  margin-top: 1.75rem;
}
</style>