<template>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-glasses icon-gradient bg-happy-itmeo"> </i>
          </div>
          <div>Les Cadres</div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block">
            <button type="button" aria-expanded="false" class="mb-2 mr-2 btn-lg btn-block btn-shadow btn btn-primary"
              @click="uploadInventoryBtn">
              <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fas fa-file-import fa-w-20"></i>
              </span>
              Télécharger l'inventaire
            </button>
            <input @change="handleDrop" type="file" name="excelInventoryList" id="upload-inventory-file" accept="*/*"
              ref="fileInput">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <ul class="tabs-animated-shadow nav-justified tabs-animated nav">
              <li class="nav-item">
                <a role="tab" class="nav-link active" id="tab-c1-0" data-toggle="tab" href="#tab-animated1-0">
                  <span class="nav-text">Les Lunettes Optiques</span>
                </a>
              </li>
              <li class="nav-item">
                <a role="tab" class="nav-link" id="tab-c1-1" data-toggle="tab" href="#tab-animated1-1">
                  <span class="nav-text">Les Lunettes Solaires</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-animated1-0" role="tabpanel">
                <table class="mb-0 table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Marque</th>
                      <th>Réfèrence</th>
                      <th>Couleur</th>
                      <th>Prix</th>
                      <th>Taille</th>
                      <th>Quantité</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>
                        <b>Rechercher</b>
                      </th>
                      <th>
                        <input @keyup="searchOpticalFrames($event)" v-model="opticalCriteria.label" type="text"
                          class="form-control" name="frameLabel" />
                      </th>
                      <th>
                        <input @keyup="searchOpticalFrames($event)" v-model="opticalCriteria.reference" type="text"
                          class="form-control" name="frameReference" />
                      </th>
                      <th>
                        <input @keyup="searchOpticalFrames($event)" v-model="opticalCriteria.color" type="text"
                          class="form-control" name="frameColor" />
                      </th>
                      <th>
                        <input @keyup="searchOpticalFrames($event)" v-model="opticalCriteria.price" type="number"
                          class="form-control" name="framePrice" />
                      </th>
                      <th>
                        <input @keyup="searchOpticalFrames($event)" v-model="opticalCriteria.size" type="text"
                          class="form-control" name="frameSize" />
                      </th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr v-for="(frame) in opticalFrames" :key="frame._id">
                      <th scope="row">
                        <button @click="addOpticalFrameToReceipt(frame)" type="button"
                          class="mb-2 mr-2 btn btn-primary btn-lg btn-block">
                          Séléctionner
                        </button>
                      </th>
                      <td>{{ frame.label }}</td>
                      <td>{{ frame.reference }}</td>
                      <td>{{ frame.color }}</td>
                      <td>{{ frame.price }}</td>
                      <td>{{ frame.size }}</td>
                      <td>{{ frame.qty }}</td>
                      <td>
                        <button type="button" data-toggle="tooltip" @click="barCodeSetup(frame)" title="Code à bar"
                          data-placement="bottom" class="btn-shadow mr-3 btn-transition btn btn-outline-focus">
                          <i class="fas fa-barcode icon-gradient bg-happy-itmeo"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab-animated1-1" role="tabpanel">
                <table class="mb-0 table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Marque</th>
                      <th>Réfèrence</th>
                      <th>Couleur</th>
                      <th>Prix</th>
                      <th>Taille</th>
                      <th>Quantité</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>
                        <b>Rechercher</b>
                      </th>
                      <th>
                        <input @keyup="searchSunglasses($event)" v-model="sunglassCriteria.label" type="text"
                          class="form-control" name="frameLabel" />
                      </th>
                      <th>
                        <input @keyup="searchSunglasses($event)" v-model="sunglassCriteria.reference" type="text"
                          class="form-control" name="frameReference" />
                      </th>
                      <th>
                        <input @keyup="searchSunglasses($event)" v-model="sunglassCriteria.color" type="text"
                          class="form-control" name="frameColor" />
                      </th>
                      <th>
                        <input @keyup="searchSunglasses($event)" v-model="sunglassCriteria.price" type="number"
                          class="form-control" name="framePrice" />
                      </th>
                      <th>
                        <input @keyup="searchSunglasses($event)" v-model="sunglassCriteria.size" type="text"
                          class="form-control" name="frameSize" />
                      </th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr v-for="(frame) in sunglasses" :key="frame._id">
                      <th scope="row">
                        <button @click="addSunglassToReceipt(frame)" type="button"
                          class="mb-2 mr-2 btn btn-primary btn-lg btn-block">
                          Séléctionner
                        </button>
                      </th>
                      <td>{{ frame.label }}</td>
                      <td>{{ frame.reference }}</td>
                      <td>{{ frame.color }}</td>
                      <td>{{ frame.price }}</td>
                      <td>{{ frame.size }}</td>
                      <td>{{ frame.qty }}</td>
                      <td>
                        <button type="button" data-toggle="tooltip" @click="barCodeSetup(frame)" title="Code à bar"
                          data-placement="bottom" class="btn-shadow mr-3 btn-transition btn btn-outline-focus">
                          <i class="fas fa-barcode icon-gradient bg-happy-itmeo"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div ref="barCodeDiv">
              <vue-barcode ref="BarImg" :class="showBarCode ? 'bar-code' : 'bar-code-hidden'" tag="img" :value="barcodeValue"
                :options="{ displayValue: false, lineColor: '#2B2B2C', width: 1, height: 50 }" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { useFramesStore } from '@/stores/frame';
import { mapStores } from "pinia";
import { read, utils, WorkSheet } from "xlsx";
import VueBarcode from "@chenfengyuan/vue-barcode";

interface HTMLInputEvent extends Event {
  target: HTMLInputElement & EventTarget;
}

interface FileReaderEventTarget extends EventTarget {
  [x: string]: any;
  result: string;
}

interface FileReaderEvent extends Event {
  target: FileReaderEventTarget;
  getMessage(): string;
}

export default defineComponent({
  name: "Frames",
  components: {
    "vue-barcode": VueBarcode,
  },
  data() {
    return {
      sunglassCriteria: {
        label: "",
        category: "S",
        reference: "",
        price: "",
        size: "",
        color: "",
      },
      opticalCriteria: {
        label: "",
        category: "O",
        reference: "",
        price: "",
        size: "",
        color: "",
      },
      emptyCriteria: {
        label: "",
        category: "",
        reference: "",
        price: "",
        size: "",
        color: "",
      },
      opticalFrames: [] as any[],
      sunglasses: [] as any[],
      barcodeValue: 'frame',
      showBarCode: false,
    };
  },
  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useFramesStore)
  },
  created() {
    this.framesStore.inventory(this.emptyCriteria);
  },
  methods: {
    searchSunglasses(event: Event) {
      const target = event.target as HTMLTextAreaElement;
      if (
        this.sunglassCriteria.label != target.value ||
        this.sunglassCriteria.reference != target.value ||
        this.sunglassCriteria.price != target.value ||
        this.sunglassCriteria.size != target.value ||
        this.sunglassCriteria.color != target.value
      ) {
        let timeout;
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          this.framesStore.inventory(this.sunglassCriteria);
          this.sunglasses = this.framesStore.frames.sunglasses;
        }, 1000);
      } else {
        this.sunglasses = [];
      }
    },
    searchOpticalFrames(event: Event) {
      const target = event.target as HTMLTextAreaElement;
      if (
        this.opticalCriteria.label != target.value ||
        this.opticalCriteria.reference != target.value ||
        this.opticalCriteria.price != target.value ||
        this.opticalCriteria.size != target.value ||
        this.opticalCriteria.color != target.value
      ) {
        let timeout;
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          this.framesStore.inventory(this.opticalCriteria);
          this.opticalFrames = this.framesStore.frames.optical;
        }, 1000);
      } else {
        this.opticalFrames = [];
      }
    },
    addSunglassToReceipt(frame: any) {
      this.framesStore.onSelectFrame(frame);
      this.sunglasses = this.framesStore.frames.sunglasses;
    },
    addOpticalFrameToReceipt(frame: any) {
      this.framesStore.onSelectFrame(frame);
      this.opticalFrames = this.framesStore.frames.optical;
    },
    get_header_row(sheet: WorkSheet) {
      let headers = [],
        range = utils.decode_range(sheet["!ref"] as string);
      let C,
        R = range.s.r; /* start in the first row */
      for (C = range.s.c; C <= range.e.c; ++C) {
        /* walk every column in the range */
        let cell =
          sheet[
          utils.encode_cell({ c: C, r: R })
          ]; /* find the cell in the first row */
        let hdr = "UNKNOWN " + C; // <-- replace with your desired default
        if (cell && cell.t) hdr = utils.format_cell(cell);
        headers.push(hdr);
      }
      return headers;
    },
    fixData(data: any) {
      let o = "",
        l = 0,
        w = 10240;
      for (; l < data.byteLength / w; ++l)
        o += String.fromCharCode.apply(
          null,
          Array.from(new Uint8Array(data.slice(l * w, l * w + w)))
        );
      o += String.fromCharCode.apply(
        null,
        Array.from(new Uint32Array(data.slice(l * w) as number[]))
      );
      return o;
    },
    handleDrop(e: FileReaderEvent) {
      e.stopPropagation();
      e.preventDefault();
      let state = {
        tickets: [{ name: "test" }],
        headers: ["Test header"],
      };
      const here = this;
      let f = e.target.files[0];
      let i;
      let reader = new FileReader();
      let { name } = f;
      reader.onload = function (e) {
        let results: { name: string }[];
        let data = e.target?.result;
        let fixedData = here.fixData(data);
        let workbook = read(btoa(fixedData), { type: "base64" });
        let firstSheetName = workbook.SheetNames[0];
        let worksheet = workbook.Sheets[firstSheetName];
        state.headers = here.get_header_row(worksheet);
        results = utils.sheet_to_json(worksheet);
        state.tickets = results;

        fetch("http://localhost:5700/api/loadFrames", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(state.tickets),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      };

      reader.readAsArrayBuffer(f);
    },
    loadInventory() {
      const uploadBtn = document.querySelector(
        "#upload-inventory-file"
      )! as HTMLElement;
      uploadBtn.click();
    },
    uploadInventoryBtn() {
      this.loadInventory();
    },
    barCodeSetup(frame: any) {
      this.barcodeValue = `${frame.category}-${frame.label}-${frame.reference}-${frame.color}-${frame.size}-${frame.price}`;
    },
    downloadBarCode() {
      this.showBarCode = true;
      setTimeout(() => {
        let popupWindow = window.open('', 'bar-code', 'location=1,status=1,scrollbars=1,width=50,height=50');
        if (popupWindow) {
          popupWindow.document.open();
          popupWindow.document.write(`<!DOCTYPE html><html lang="en"><head> <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"><title>OMAR ALOULOU</title> </head><body onload="window.print()">${(this.$refs.barCodeDiv as any).innerHTML}</html>`);
          //popupWindow.document.write(`${(this.$refs.barCodeDiv as any).innerHTML}`);
          popupWindow.document.close();
        }
      }, 400);
      this.showBarCode = false;
    }
  },
  watch: {
    barcodeValue(newVal: any, old: any) {
      if (newVal != 'frame') {
        this.downloadBarCode();
      }
    }
  }
});
</script>
<style scoped>
#tab-animated1-0 {
  max-width: 100%;
  overflow-y: auto;
}

#tab-animated1-1 {
  max-width: 100%;
  overflow-y: auto;
}

.card {
  min-height: 25rem;
}

#upload-inventory-file {
  display: none;
}

.bar-code-hidden {
  display: none;
}

.bar-code {
  display: block;
}
</style>