<template>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-glasses icon-gradient bg-happy-itmeo">
            </i>
          </div>
          <div>Ajout de cadre
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <form class="needs-validation" novalidate>
              <h5 class="card-title">Cadre</h5>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label>Category</label>
                  <select name="select" class="form-control" v-model="createFrame.category">
                    <option value="O">Optique</option>
                    <option value="S">Soleil</option>
                  </select>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Marque</label>
                  <input type="text" class="form-control" v-model="createFrame.label" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Référence</label>
                  <input type="text" class="form-control" v-model="createFrame.reference" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label>Prix</label>
                  <input type="text" class="form-control" v-model="createFrame.price" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Couleur</label>
                  <input type="text" class="form-control" v-model="createFrame.color" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Taille</label>
                  <input type="text" class="form-control" v-model="createFrame.size" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="submit-btn">
                <button class="btn-primary btn-lg col-sm-12 col-md-2" @click="addFrame" type="button">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { mapStores } from "pinia";
import { useFramesStore } from '@/stores/frame';
import { useAuthStore } from '@/stores/auth';

interface NewReceiptState {
  createFrame: {
    category: string,
    label: string,
    price: string,
    reference: string,
    color: string,
    size: string,
  },
};

const defaultFrame = {
  category: 'O',
  label: '',
  price: '',
  reference: '',
  color: '',
  size: '',
};

export default defineComponent({
  name: 'NewFrame',
  components: {},
  data: (): NewReceiptState => {
    return {
      createFrame: {
        category: 'O',
        label: '',
        price: '',
        reference: '',
        color: '',
        size: '',
      }
    }
  },
  async beforeRouteEnter(to: any, from: any, next: any) {
    const authState = useAuthStore();
    const canCreateFrame = await authState.isConnected();

    if (canCreateFrame.value === false) {
      next('/frames');
    } else {
      next();
    }
  },
  async created() {
    await this.authStore.closeConnection();
  },
  computed: {
    ...mapStores(useFramesStore, useAuthStore)
  },
  methods: {
    reset() {
      Object.assign(this.createFrame, defaultFrame);
    },
    async addFrame() {
      const addedFrame = await this.framesStore.createFrame(this.createFrame);
      this.$toast.success(`Cadre ${addedFrame.label} #Ref: ${addedFrame.reference} ajouté.`, {
        position: 'top-right'
      })
      this.reset();
    },
  }
});
</script>
<style scoped>
.submit-btn {
  margin: 0 auto;
  text-align: right;
}
</style>