<template>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-folder-open icon-gradient bg-happy-itmeo">
            </i>
          </div>
          <div>Le Reçu
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card" @click="goToEditReceipt">
          <div class="card-header">Reçu {{ receipt.nbr }}</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="mb-0 table table-bordered">
                <thead>
                  <tr>
                    <th scope="row">Code</th>
                    <th>{{ receipt.nbr }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Date</th>
                    <td v-html="dateFormatter(receipt.createdAt)"></td>
                  </tr>
                  <tr>
                    <th scope="row">Nom</th>
                    <td>{{ receipt.lName }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Prénom</th>
                    <td>{{ receipt.fName }}</td>
                  </tr>
                  <tr v-if="isReceiptLoaded">
                    <th scope="row">Téléphone(s)</th>
                    <td>{{ receiptTel }}</td>
                  </tr>
                  <tr v-if="isClientWithEyeValues">
                    <th scope="row">Vue de Loin</th>
                  </tr>
                  <tr v-if="isClientWithEyeValues">
                    <th scope="row">Oeil Droit</th>
                    <td v-html="rightEye"></td>
                  </tr>
                  <tr v-if="isClientWithEyeValues">
                    <th scope="row">Oeil Gauche</th>
                    <td v-html="leftEye"></td>
                  </tr>
                  <tr v-if="isClientWithEyeValues">
                    <th scope="row">Vue de Près</th>
                  </tr>
                  <tr v-if="isClientWithEyeValues">
                    <th scope="row">Oeil Droit</th>
                    <td v-html="rightCloseUpEye"></td>
                  </tr>
                  <tr v-if="isClientWithEyeValues">
                    <th scope="row">Oeil Gauche</th>
                    <td v-html="leftCloseUpEye"></td>
                  </tr>
                  <tr v-if="isReceiptLoaded">
                    <th scope="row">Montures</th>
                    <td v-html="receiptFrames"></td>
                  </tr>
                  <tr v-if="isReceiptLoaded">
                    <th scope="row">Verres</th>
                    <td v-html="receiptGlasses"></td>
                  </tr>
                  <tr v-if="isReceiptLoaded">
                    <th scope="row">Lentilles</th>
                    <td v-html="receiptLentils"></td>
                  </tr>
                  <tr v-if="isReceiptLoaded">
                    <th scope="row">Total</th>
                    <td v-html="receiptTotal"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { mapStores } from "pinia";
import { dateFormatter } from '../services/receipt/date';
import { useReceiptsStore } from '@/stores/receipt';
import { useAuthStore } from '@/stores/auth';
import status from '@/api/status';
import { ReceiptState } from '@/types/receipt';
import {
  emptyEyeValues,
  rightEyeValues,
  rightGapAndHeight,
  rightEyeCloseUp,
  leftEyeValues,
  leftGapAndHeight,
  leftEyeCloseUp,
  getAdminFrame,
  getLentil,
  getGlass,
  getTotal
} from '@/helpers/print-receipt';

export default defineComponent({
  name: 'Receipt',
  data: (): ReceiptState => {
    return {
      receipt: {
      },
      isLoaded: false
    }
  },
  async created() {
    this.receipt = await this.receiptsStore.getReceipt(this.$route.params.receiptId);
  },
  computed: {
    ...mapStores(useReceiptsStore, useAuthStore),
    receiptTel() {
      return this.isReceiptLoaded ? this.receipt.entity.tel.reduce((acc: string = '', tel: string) => `${acc} ${tel}`) : '';
    },
    rightEye() {
      const receipt = this.receipt;
      return `${rightEyeValues(receipt)}${rightGapAndHeight(receipt)}`;
    },
    rightCloseUpEye() {
      const receipt = this.receipt;
      return `${rightEyeCloseUp(receipt)}`;
    },
    leftEye() {
      const receipt = this.receipt;
      return `${leftEyeValues(receipt)}${leftGapAndHeight(receipt)}`;
    },
    leftCloseUpEye() {
      const receipt = this.receipt;
      return `${leftEyeCloseUp(receipt)}`;
    },
    isClientWithEyeValues() {
      return this.isReceiptLoaded && emptyEyeValues(this.receipt) !== '';
    },
    isReceiptLoaded() {
      return this.receipt && Object.keys(this.receipt).length;
    },
    receiptFrames() {
      return getAdminFrame(this.receipt);
    },
    receiptGlasses() {
      return getGlass(this.receipt);
    },
    receiptLentils() {
      return getLentil(this.receipt);
    },
    receiptTotal() {
      return getTotal(this.receipt);
    }
  },
  methods: {
    dateFormatter(createdAt: any) {
      return dateFormatter(createdAt);
    },
    async goToEditReceipt() {
      const canEditReceipt = await this.authStore.isConnected();
      if (canEditReceipt.value === true) {
        this.$router.replace({ name: 'EditReceipt', params: { receiptId: this.receipt._id } });
      }
    }
  },
});
</script>
<style scoped>
.card {
  min-height: 25rem;
}
</style>