<template>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-folder-open icon-gradient bg-happy-itmeo">
            </i>
          </div>
          <div>Les Reçus
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <ul class="tabs-animated-shadow nav-justified tabs-animated nav">
              <li class="nav-item">
                <a role="tab" class="nav-link active" id="tab-c1-0" data-toggle="tab" href="#tab-animated1-0">
                  <span class="nav-text">Les reçus payés</span>
                </a>
              </li>
              <li class="nav-item">
                <a role="tab" class="nav-link" id="tab-c1-1" data-toggle="tab" href="#tab-animated1-1">
                  <span class="nav-text">Les reçus non payés</span>
                </a>
              </li>
              <li class="nav-item">
                <a role="tab" class="nav-link" id="tab-c1-2" data-toggle="tab" href="#tab-animated1-2">
                  <span class="nav-text">Les reçus réglés</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-animated1-0" role="tabpanel">
                <table class="mb-0 table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Numéro</th>
                      <th>Date</th>
                      <th>Vendeur</th>
                      <th>Client</th>
                      <th>Accompte</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="receipt in receipts.payed" :key="receipt._id" @click="viewReceipt(receipt._id)">
                      <th scope="row">
                        {{ receipt.nbr }}
                      </th>
                      <td v-html="dateFormatter(receipt.createdAt)"></td>
                      <td>
                        {{ receipt.saleBy.join(',') }}
                      </td>
                      <td>
                        {{ receipt.lName }} {{ receipt.fName }}
                      </td>
                      <td>
                        {{ receipt.downPayment }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab-animated1-1" role="tabpanel">
                <table class="mb-0 table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Numéro</th>
                      <th>Date</th>
                      <th>Vendeur</th>
                      <th>Client</th>
                      <th>Accompte</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="receipt in receipts.notPayed" :key="receipt._id" @click="viewReceipt(receipt._id)">
                      <th scope="row">{{ receipt.nbr }}</th>
                      <td v-html="dateFormatter(receipt.createdAt)"></td>
                      <td>{{ receipt.saleBy.join(',') }}</td>
                      <td>{{ receipt.lName }} {{ receipt.fName }}</td>
                      <td>{{ receipt.downPayment }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab-animated1-2" role="tabpanel">
                <table class="mb-0 table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Numéro</th>
                      <th>Date</th>
                      <th>Vendeur</th>
                      <th>Client</th>
                      <th>Accompte</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="receipt in receipts.arranged" :key="receipt._id" @click="viewReceipt(receipt._id)">
                      <th scope="row">{{ receipt.nbr }}</th>
                      <td v-html="dateFormatter(receipt.createdAt)"></td>
                      <td>{{ receipt.saleBy.join(',') }}</td>
                      <td>{{ receipt.lName }} {{ receipt.fName }}</td>
                      <td>{{ receipt.downPayment }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { mapStores } from "pinia";
import { dateFormatter } from '../services/receipt/date';
import { useReceiptsStore } from '@/stores/receipt';
import { ReceiptsState } from '@/types/receipt';

export default defineComponent({
  name: 'Receipts',
  data: (): ReceiptsState => {
    return {
      receipts: {
        payed: [],
        notPayed: [],
        arranged: []
      },
    }
  },
  created() {
    this.receiptsStore.fetchReceipts({ query: '' });
    this.receipts = this.receiptsStore.receipts;
  },
  computed: {
    ...mapStores(useReceiptsStore),
  },
  methods: {
    dateFormatter(createdAt: any) {
      return dateFormatter(createdAt);
    },
    viewReceipt(receiptId: string) {
      this.$router.replace({ name: 'ViewReceipt', params: { receiptId } });
    }
  }
});
</script>
<style scoped>
#tab-animated1-0 {
  max-width: 100%;
  overflow-y: auto;
}

#tab-animated1-1 {
  max-width: 100%;
  overflow-y: auto;
}

#tab-animated1-2 {
  max-width: 100%;
  overflow-y: auto;
}

.card {
  min-height: 25rem;
}

a {
  text-decoration: none;
}

nav li:hover,
nav li.router-link-active,
nav li.router-link-exact-active {
  background-color: indianred;
  cursor: pointer;
}
</style>