<template>
  <div class="app-main__inner charts-style">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-barcode icon-gradient bg-happy-itmeo">
            </i>
          </div>
          <div>Le Scanner
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <input type="text" @focus="onBarcodeScan">
            <p>{{ code ? code : ''}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: 'Scanner',
  data() {
    return {
      reading: false,
      code: ''
    }
  },
  methods: {
    async onBarcodeScan(e: any) {
      try {
        this.code = ''

        //usually scanners throw an 'Enter' key at the end of read
        if (e.keyCode === 13) {
          if (this.code.length > 10) {
            console.log(this.code);
            /// code ready to use                
            this.code = "";
          }
        } else {
          this.code += e.key; //while this is not an 'enter' it stores the every key            
        }

        //run a timeout of 200ms at the first read and clear everything
        if (!this.reading) {
          this.reading = true;
          setTimeout(() => {
            this.code = "";
            this.reading = false;
          }, 200);  //200 works fine for me but you can adjust it
        }
      } catch (e) {
        console.error(e);
      }
    }
  }
});
</script>