<template>
  <div class="app-main__inner charts-style">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-chart-bar icon-gradient bg-happy-itmeo">
            </i>
          </div>
          <div>Les Statistiques
          </div>
        </div>
        <div class="page-title-actions">
          <form class="form-inline">
            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
              <label for="year" class="mr-sm-2">Year</label>
              <input id="year" type="number" class="form-control" v-model="selectedYear">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <Bar v-if="loaded" :data="data" :options="options" />
            <pulse-loader v-if="!loaded" :color="loaderColor" :size="loaderSize"></pulse-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from 'chart.js';
import { Bar } from 'vue-chartjs';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

interface StatisticsState {
  months: Array<{label: string, value: number}>,
  selectedMonth: number,
  selectedYear: number,
  saleBy1: number,
  saleBy2: number,
  saleBy3: number,
  loaded: boolean,
  data: {
    labels: Array<string>,
    datasets: [
      {
        label: string,
        backgroundColor: string,
        data: Array<number>,
      },
      {
        label: string,
        backgroundColor: string,
        data: Array<number>,
      },
      {
        label: string,
        backgroundColor: string,
        data: Array<number>,
      },
    ]
  },
  options: {
  },
  loaderColor: string,
  loaderSize: string,
}

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)
export default defineComponent({
  name: 'Statistics',
  components: { Bar, PulseLoader },
  data: (): StatisticsState => {
    return {
      months: [
        { label: 'Janvier', value: 1 },
        { label: 'Février', value: 2 },
        { label: 'Mars', value: 3 },
        { label: 'Avril', value: 4 },
        { label: 'Maï', value: 5 },
        { label: 'Juin', value: 6 },
        { label: 'Juillet', value: 7 },
        { label: 'Août', value: 8 },
        { label: 'Septembre', value: 9 },
        { label: 'Octobre', value: 10 },
        { label: 'Novembre', value: 11 },
        { label: 'Decembre', value: 12 }
      ],
      selectedMonth: 0,
      selectedYear: new Date().getFullYear(),
      saleBy1: 0,
      saleBy2: 0,
      saleBy3: 0,
      loaded: false,
      data: {
        labels: [],
        datasets: [
          {
            label: 'Vendus par #1',
            backgroundColor: '#f87979',
            data: [],
          },
          {
            label: 'Vendus par #2',
            backgroundColor: '#6b48ff',
            data: [],
          },
          {
            label: 'Vendus par #3',
            backgroundColor: '#0d3f67',
            data: [],
          },
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      },
      loaderColor: '#3AB982',
      loaderSize: '300px',
    }
  },
  created() {
    this.data.labels = this.months.map(m => m.label);
  },
  methods: {
    async selectMonth(month: number) {
      this.selectedMonth = month;
      const data = await fetch(`http://localhost:5700/api/receipt/get/by/month/${this.selectedMonth}/${this.selectedYear}`);
      const selectedDateReceipts = await data.json();
      const frames1 = selectedDateReceipts
        .filter((r: any) => r.saleBy.includes('1'))
        .map((res: any) => res.frames);
      const frames2 = selectedDateReceipts
        .filter((r: any) => r.saleBy.includes('2'))
        .map((res: any) => res.frames);
      const frames3 = selectedDateReceipts
        .filter((r: any) => r.saleBy.includes('3'))
        .map((res: any) => res.frames);
      const result = [];
      result[0] = frames1.length > 0 ? frames1
        .reduce((current: any, newFrames: any) => [...current, ...newFrames])
        .length : 0;
      result[1] = frames2.length > 0 ? frames2
        .reduce((current: any, newFrames: any) => [...current, ...newFrames])
        .length : 0;
      result[2] = frames3.length > 0 ? frames3
        .reduce((current: any, newFrames: any) => [...current, ...newFrames])
        .length : 0;
      return result;
    },
    selectYear(year: number) {
      this.selectedYear = year;
    },
    async canvasSetup() {
      const soldFrames = Array<Array<number>>();
      soldFrames[0] = [];
      soldFrames[1] = [];
      soldFrames[2] = [];
      const soldFramesPromises = this.months.map(async (m: any) => this.selectMonth(m.value));
      for (const soldFramesPromise of soldFramesPromises) {
        const soldFramesPerMonth = await soldFramesPromise;
        soldFrames[0].push(soldFramesPerMonth[0]);
        soldFrames[1].push(soldFramesPerMonth[1]);
        soldFrames[2].push(soldFramesPerMonth[2]);
      }
      this.data.datasets[0].data = soldFrames[0];
      this.data.datasets[1].data = soldFrames[1];
      this.data.datasets[2].data = soldFrames[2];
      this.loaded = true;
    }
  },
  watch: {
    selectedYear: {
      async handler(newYear: number, oldYear: number) {
        this.loaded = false;
        if (newYear !== oldYear && newYear > 2000) {
          await this.canvasSetup();
        }
      },
      immediate: true
    }
  },
});
</script>
<style scoped>
.charts-style {
  max-height: 500px;
  position: relative;
}
.card {
  min-height: 25rem;
  max-width: 100%;
  overflow-y: auto;
}
</style>