<template>
  <tr>
    <th scope="row">
      <button
        @click="addFrameToReceipt(frame)"
        type="button"
        class="mb-2 mr-2 btn btn-primary btn-lg btn-block"
      >
        {{ selectButtonValue }}
      </button>
    </th>
    <td>{{ frame.category === "O" ? "Optique" : "Solaire" }}</td>
    <td>{{ frame.label }}</td>
    <td>{{ frame.reference }}</td>
    <td>{{ frame.price }}</td>
    <td>{{ frame.size }}</td>
    <td>{{ frame.color }}</td>
    <td>{{ frame.qty }}</td>
  </tr>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import type { PropType } from 'vue';

const SELECT_BUTTON_VALUE: string = "Sélectionner";
const DESELECT_BUTTON_VALUE: string = "Désélectionner";

export default defineComponent({
  name: "FrameRow",
  props: {
    frame: {
      type: Object as PropType<any>,
    },
  },
  data() {
    return {
      selectButtonValue: SELECT_BUTTON_VALUE,
      deselectText: DESELECT_BUTTON_VALUE,
    };
  },
  methods: {
    addFrameToReceipt(frame: any) {
      this.onSelectFrame(frame);
    },
    onSelectFrame(frame: any) {
      this.$store.commit("onSelectFrame", frame);
      this.$emit("onSelectFrame");
    },
  },
});
</script>
<style scoped>
.frameRow {
  background-color: rgba(0 123 255 / 25%);
}
</style>