<template>
  <div class="input-holder">
    <input
      type="text"
      class="search-input"
      placeholder="Rechercher"
      v-model="text"
    />
    <button class="search-icon" @click="search"><span></span></button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Search",
  data() {
    return {
      text: "",
    };
  },
  methods: {
    search() {
      this.$store.dispatch("search", { query: this.text });
      this.text = "";
    },
  },
});
</script>