body {
  font-size: 14px;
}
@page {
  width: 297mm;
  height: 210mm;
  max-width: 297mm;
  max-height: 210mm;
  size: landscape;
  margin: 2mm 0mm 0mm 4mm;
  padding: 0px;
  border: 0px;
}
@media print {
  html, body {
    width: 297mm;
    height: 210mm;
    max-width: 297mm;
    max-height: 210mm;
    margin: 0;
  }
  /* ... the rest of the rules ... */
}
.container {
  padding: 8px;
  width: 297mm;
  height: 210mm;
  max-width: 297mm;
  max-height: 210mm;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 29% 1% 29% 1% 29% 1% 10%;
  grid-template-areas:
    "client seperator1 store seperator2 history seperator3 box";
}
.client {
  grid-area: client;
  padding-right: 1px;
}
.store {
  grid-area: store;
  padding-right: 1px;
}
.history {
  grid-area: history;
  padding-right: 1px;
}
.box {
  grid-area: box;
  padding-right: 1px;
}
.seperator1 {
  grid-area: seperator1;
  width: 0px;
  height: 210mm;
  border: 1px solid;
}
.seperator2 {
  grid-area: seperator2;
  width: 0px;
  height: 210mm;
  border: 1px solid;
}
.seperator3 {
  grid-area: seperator3;
  width: 0px;
  height: 210mm;
  border: 1px solid;
}
.voucher {
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(16, 1fr);
}
.one-col {
  grid-column: auto / span 1;
}
.two-col {
  grid-column: auto / span 2;
}
.three-col {
  grid-column: auto / span 3;
}
.four-col {
  grid-column: auto / span 4;
}
.five-col {
  grid-column: auto / span 5;
}
.six-col {
  grid-column: auto / span 6;
}
.seven-col {
  grid-column: auto / span 7;
}
.eight-col {
  grid-column: auto / span 8;
}
.nine-col {
  grid-column: auto / span 9;
}
.ten-col {
  grid-column: auto / span 10;
}
.eleven-col {
  grid-column: auto / span 11;
}
.twelve-col {
  grid-column: auto / span 12;
}
.thirteen-col {
  grid-column: auto / span 13;
}
.fourteen-col {
  grid-column: auto / span 14;
}
.fiveteen-col {
  grid-column: auto / span 15;
}
.sixteen-col {
  grid-column: auto / span 16;
}
.row {
  border: 0px;
  padding: 0px;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.col {
  display: table-cell;
  padding: 0px;
  border: 0px;
}
.title {
  font-size: 20px;
}
.date-title {
  font-size: 14px;
  align-items: end;
}
.box-title {
  font-size: 16px;
}
.store-data {
  grid-row: auto / span 3;
}
.paid {
  grid-row: auto / span 2;
  font-size: 18px;
}
.small {
  font-size: 12px;
}
.large {
  font-size: 16px;
}
.line {
  height: 0px;
  width: 100%;
  border: 1px dashed;
  grid-row: auto / span 0.5;
}
